<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace=~{base::parent(~{::#content},~{::title},~{::script})}>


<head></head>






<title> contact </title>

<body>

    <div id="content">
        <h1>welcome to Contact page</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, error dicta quae nobis cum voluptates? Eius
            porro commodi nisi. Libero itaque quas temporibus natus! Perspiciatis sunt saepe fugit tenetur nisi.
        </p>
    </div>
</body>

<script>
    console.log("this is about script")
</script>
</html>