<!DOCTYPE html>
<html lang="en"

th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div id="content">
        <h1>Welcome to Home Page</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, ullam atque quos libero repellat, hic
            praesentium dolor voluptatum neque cupiditate minima molestiae quae laudantium ad ipsa nam quis autem
            accusantium placeat aut ipsam.
        </p>
    </div>
</body>
<script>
    console.log("home page lodded")
</script>

</html>