<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace=~{base::parent(~{::#content},~{::title},~{::script})}>


<head></head>
<title>
    Services
</title>

<body>

    <section id="content">
        <h1>welcome to services page</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, error dicta quae nobis cum voluptates? Eius
            porro commodi nisi. Libero itaque quas temporibus natus! Perspiciatis sunt saepe fugit tenetur nisi.
        </p>
    </section>
</body>



    <script>
        console.log("this is service script")
    </script>

</html>